<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="header">
        <img src="images/logo.jpg" id="logo" alt="">
        <span id="heading">शिक्षक Recruitment System | Recruiter Panel | <%=email%> </span>
    </div>
    <div id="nav">
        <ul>
            <li><a href="/recruiter/recruiterHome">Home</a></li>
            <li><a href="/recruiter/addVacancy">Add Vacancy</a></li>
            <li><a href="/recruiter/vacancyPosted">Posted Vacancy</a></li>
            <li><a href="/recruiter/appliedCandidateList">Applied Candidate List</a></li>
            <li><a href="">Change Password</a></li>
            <li><a href="/recruiter/recruiterLogout">Logout</a></li>
        </ul>
    </div>
</body>
</html>